# System Files
.DS_Store

# IDE - VSCode
.vscode/
.idea/
*.kdev4

# Autoenv
.env

# Virtual env
__pycache__/
__venv__/

# Build using setup.py
dist/
build/
*.egg-info
.eggs/

# Coverage
.coverage
htmlcov/

# Local config
*/config/local.json
.local/